// listingtable.scss

$table-border-color: #dee2e6;
$table-header-bg: #343a40;
$table-header-color: #fff;

.listing-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1.5rem;

    th, td {
        padding: 0.75rem;
        border: 1px solid $table-border-color;
        text-align: left;
    }

    th {
        background-color: $table-header-bg;
        color: $table-header-color;
        font-weight: bold;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }
}
