// registration.scss

@import 'variables';

form {
    max-width: 500px;
    margin: 2rem auto;
    padding: $padding-base;
    background-color: $light-color;
    border-radius: $border-radius;

    div {
        margin-bottom: $margin-base;

        label {
            display: block;
            font-weight: bold;
            margin-bottom: 0.5rem;
            color: $dark-color;
        }

        input {
            width: 100%;
            padding: 0.5rem;
            border: 1px solid $secondary-color;
            border-radius: $border-radius;

            &:focus {
                outline: none;
                border-color: $primary-color;
            }
        }
    }

    button {
        background-color: $primary-color;
        color: white;
        padding: 0.75rem 1.25rem;
        border: none;
        border-radius: $border-radius;
        cursor: pointer;
        width: 100%;
        font-size: 1rem;

        &:hover {
            background-color: darken($primary-color, 10%);
        }
    }
}
